API_STR=/api

GATEWAY_TIMEOUT=5

MAIN_SERVICE_URL=http://localhost:8001
AUTH_SERVICE_URL=http://localhost:8002
NOTIFICATION_SERVICE_URL=http://localhost:8003
AGENT_URL=http://localhost:8004

SERVICE_ERROR_RESPONSE_DETAIL_KEY=detail