API_STR=/api
GATEWAY_TIMEOUT=15

MAIN_SERVICE_URL=http://backend_app_doc:8000
AUTH_SERVICE_URL=http://auth_service_doc:8000
NOTIFICATION_SERVICE_URL=http://notification_backend:8000
AGENT_URL=http://agent_app_doc:8000

SERVICE_ERROR_RESPONSE_DETAIL_KEY=detail
