DB_HOST=db_main_backend_doc
DB_PORT=1221
DB_USER=postgres
DB_PASS=postgres
DB_NAME=backend_doc_db

PUBLIC_KEY=dev-local-jwt-secret
ALGORITHM=HS256

RABBIT_HOST=rabbitmq_doc
RABBIT_PORT=5672

# If MinIO is added to docker-compose, use http://minio:9000 from containers.
S3_ENDPOINT_URL=http://minio:9000
S3_ACCESS_KEY=put_s3_access_key_here
S3_SECRET_KEY=put_s3_secret_key_here
S3_BUCKET_NAME=documents

POSTGRES_DB=backend_doc_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
