MODE=DEV

DB_HOST=auth_service
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=auth_doc_db

ENCRYPTION_KEY=...

DEFAULT_LOGIN=admin
DEFAULT_PASSWORD=admin

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=21
MAX_REFRESH_SESSIONS=5
ALGORITHM=RS256
PUBLIC_KEY=...
PRIVATE_KEY=...

POSTGRES_DB=auth_doc_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
