MODE=DEV

DB_HOST=notification_db
DB_PORT=5413
DB_USER=postgres
DB_PASS=postgres
DB_NAME=notification_doc_db

PUBLIC_KEY=dev-local-jwt-secret
ALGORITHM=HS256

RABBIT_HOST=rabbitmq_doc
RABBIT_PORT=5672

POSTGRES_DB=notification_doc_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
